body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.floating-navbar, footer {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    z-index: 1;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}