{% extends 'base.html' %}

{% block title %}Azure Certification Project Generator{% endblock %}

{% block head %}
<!-- Additional head content specific to index.html can go here -->
{% endblock %}

{% block content %}
<div class="text-center">
    <img src="{{ url_for('static', filename='/img/azure-icon.png') }}" class="img-fluid" alt="Azure Icon" style="max-width: 100px;">
    <h1>Lacking Azure Project Inspiration? Generate Some Examples Here!</h1>   
</div>
{% endblock %}



{% block scripts %}
<!-- Additional scripts specific to index.html can go here -->
{% endblock %}
